<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hello Flask</title>
</head>
    
<body>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>               <!--inside the "" can be "/" -->
            <li><a href="{{ url_for('about') }}">About</a></li>          <!--inside the "" can be "about"-->
            <li><a href="{{ url_for('contact') }}">Contact</a></li>     <!-- jinja templating language -->
        </ul>
    </nav>
        
                                                                <h1>Home Page</h1>
    {% block content %} <!--defining a block or area we can inject content into -->
    {% enblock %}
</body>
</html>


<!-- with block content above..difference between {% and {{ is that {{ contains an expression that's outputting something to 
        the screen or in our case above(to the href).
        the {% are for statements that control the flow of our template-->